*.fehmn filter=lfs diff=lfs merge=lfs -text
*.stor filter=lfs diff=lfs merge=lfs -text
*.inp filter=lfs diff=lfs merge=lfs -text
*.uge filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
*.fehm filter=lfs diff=lfs merge=lfs -text
*.fin filter=lfs diff=lfs merge=lfs -text
